h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    color: gray;
    font-size: 45px;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    color: gray;
    font-size: 22px;
}

div {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    color: gray;
    font-size: 14px;
}

#title-div {
    text-align: center;
}

#svg-div {
    float: left;
}

#svg-no-div {
    float: left;
}


button {
    background-color: rgba(0,0,0,0);
    border:0.1em solid black;
    padding:0.15em 1.2em;
    margin:0 0.1em 0.1em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    color: gray;
    transition: all 0.2s;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

button:hover {
    color:white;
    background-color:black;
    
}


#input-div {
    text-align: center;
    align-items: center;
    float: left;
}

#dropdown {
    text-align: center;
    margin-top: 70px;
}

#slider-div {
    margin-top: 70px;
}

#info-div {
    width: 100%;
    float: left;
    padding-top: 70px;
    text-align: center;
    margin: 0 auto;
}

#info-div-text {
    font-size: 30px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}



