<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="../style/style_classification.css">
    <!-- <link rel="stylesheet" href="files/theme/style.css"> -->
</head>

<body style="background-color:#041011">
    <div id="title-div">
        <h1> Classification results using isolated added noise to calculate features</h1>
    </div>

    <div id="plots-div">

        <div id="svg-div">
            <svg width="600" height="600" id="svg0"></svg>
        </div>

        <div id="pair-graphs-div">
            <svg width="400" height="400" id="svg-pair1"></svg>
            <svg width="400" height="400" id="svg-pair2"></svg>
        </div>


        <!-- <button id="back-button">Back</button> -->
        <div id="threshold-div">
            <h3>Threshold <i>ρ<sub>T</sub></i></h3>
            <input id="slider-range" type="range" min="0" max="16" step="1" value="9">
        </div>
        <!-- <button id="next-button">Next</button> -->

    </div>

    <div id="info-div">
        <div id="info-div-text">
            <i>(Left)</i> Confusion matrix showing the number of correct predictions (diagonal elements, green) and incorrect predictions (off diagonal elements, pink). <b>Hover</b>
            over boxes to see the precise number (out of 250). <b>Click</b> on the boxes to bring up the associated Betti curves <i>(Right)</i>. Betti curves shown for dimensions 1-4.
            <b>Drag</b> the threshold slider to see results for different threshold values <i>ρ<sub>T</sub></i>. Current threshold value shown as vertical dotted line in
             the Betti curve plots. NOTE: the threshold here corresponds to 1-<i>ρ<sub>T</sub></i> used in the main experiment. <br> <br>


        </div>

    </div>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>



    <script src="../js/classification_no.js"></script>

    


</body>